@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Hello All, Welcome to my Personal Website !!!</h1>

    <h4 class="display-2"> This is new header 2 that we added recently. We are trying to make a change here.</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
